<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/base.css' />
  <link rel='stylesheet' href='/css/bootstrap.css' />
  <link rel='stylesheet' href='/css/reg.css' />
</head>

<body>
  <div class="container">
    <% include header %>
      <div class="content container-fluid">
        <form method="post">
          <div class="form-group">
            <label>用户名：</label>
            <input class="form-control" type="text" placeholder="请输入用户名" />
          </div>
          <div class="form-group">
            <label>密码：</label>
            <input class="form-control" type="text" placeholder="请输入密码" />
          </div>
          <div class="form-group">
            <label>确认密码：</label>
            <input class="form-control" type="text" placeholder="请输入确认密码" />
          </div>
          <div class="form-group">
            <input type="button" class="form-control" value="注册" />
            <a href="/login">已有账户 点击登录</a>
          </div>
        </form>
      </div>
      <% include footer %>
  </div>
</body>

</html>